body {
	background-color: #f1f1f1;
}

/* Styling for the game container */
#game {
	width: 600px;
	margin: 0 auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
	text-align: center;
}

form {
	text-align: center;
	margin-bottom: 20px;
}

label {
	font-size: 20px;
}
/* Styling for the text input in the form */
input[type="text"] {
	font-size: 20px;
	padding: 5px;
	border-radius: 5px;
	border: none;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
/* Styling for the submitbutton in the form */
input[type="submit"] {
	font-size: 20px;
	padding: 5px 10px;
	border-radius: 5px;
	border: none;
	background-color: #4CAF50;
	color: #fff;
	cursor: pointer;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
/* Styling for the user choicer, put them in flex, centers it */
#choices {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}
/* Set the background color and other styles of the choice buttons */
.choice {
	background-color: #f1f1f1; 
	border-radius: 10px;
	padding: 20px;
	margin: 0 10px;
	border: none;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}
.choice img{
	max-height: 40px;
}

.choice:hover {
	background-color: #d1d1d1;
}

#result {
	font-size: 30px;
	text-align: center;
	margin-top: 20px;
}

#scoreboard {
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}
